### 6) Set

- 생성방법

In [1]:
a = set([1, 2, 3])
print(a)
print(type(a))

{1, 2, 3}
<class 'set'>

In [2]:
a = set((1, 2, 3))
print(a)

{1, 2, 3}

- 중복된 항목을 제거

In [3]:
a = set([1, 1, 2, 3, 3, 4])
print(a)

{1, 2, 3, 4}

- 순서가 없음

In [6]:
a = set([4, 4, 3, 2, 1, 'a', 'b', 'a' ])
print(a)

{1, 2, 3, 4, 'a', 'b'}

In [7]:
print(a[0])
## 순서 자체가 없음
## 인덱스 존재하지 않음
## 인덱스 사용하려면 형변환을 통해 자료형을 변경해야함

TypeError: 'set' object is not subscriptable

In [8]:
# 해결법
b = list(a)
print(b)

[1, 2, 3, 4, 'a', 'b']

In [9]:
print(b[0])

1

- 합집합

In [10]:
a = set([1, 2, 3])
b = set([3, 4, 5])

In [13]:
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

- 교집합

In [14]:
a = set([1, 2, 3])
b = set([3, 4, 5])

In [15]:
c = a.intersection(b)
print(c)

{3}

- 차집합

In [16]:
a = set([1, 2, 3])
b = set([3, 4, 5])

In [17]:
c = a.difference(b)
print(c)

{1, 2}

# 4. 제어문

### 1) 반복문

(1) for

for를 이용한 반복문은 아래와 같이 작성함

for 변수 in 반복 가능한 객체:
    반복하여 실행할 내용

- 여기서 반복 가능한 객체는 아래와 같은 것들을 뜻함

1) list    2) range

- 문제: 1부터 10까지 출력하시오

-list를 이용한 해결

In [18]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

-range를 이용한 해결

In [23]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

- 문제: 1부터 9까지 2씩 증가하면서 출력하시오

In [24]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

- 문제: 9부터 1까지 2씩 감소하면서 출력하시오

In [25]:
for i in range(9, 0, -2):
    print(i)

9
7
5
3
1

- 문제: 1부터 10까지의 자연수의 합을 구하시오

In [26]:
for i in range(1, 11, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
for i in range(1, 11, 1):
    result=result+i
print(result)
## result의 초기값을 지정해주어야함

NameError: name 'result' is not defined

In [30]:
result = 0
for i in range(1, 11, 1):
    result = result + i
print(result)

55

- 문제: 구구단을 출력하시오

In [31]:
for i in range(2, 10, 1):
    print(i)

2
3
4
5
6
7
8
9

In [32]:
for i in range(2, 10, 1):
    for i in range(1, 10, 1):
        print(i * i)
## 결과가 제곱값으로 나옴
## 변수명이 똑같아서 앞과 뒤의 값이 똑같이 출력되어 제곱값으로 나옴

1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81

In [33]:
for i in range(2, 10, 1):
    for j in range(1, 10, 1):
        print(i * j)
## 두번째 i를 j로 바꿔서 서로 독립적으로 돌아가게끔 만들어줌

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [35]:
# format을 사용하여 구구단 만들기
for i in range(2, 10, 1):
    for j in range(1, 10, 1):
        print('{}곱하기 {} 은/는 {} 입니다.'.format(i, j, i*j))

2곱하기 1 은/는 2 입니다.
2곱하기 2 은/는 4 입니다.
2곱하기 3 은/는 6 입니다.
2곱하기 4 은/는 8 입니다.
2곱하기 5 은/는 10 입니다.
2곱하기 6 은/는 12 입니다.
2곱하기 7 은/는 14 입니다.
2곱하기 8 은/는 16 입니다.
2곱하기 9 은/는 18 입니다.
3곱하기 1 은/는 3 입니다.
3곱하기 2 은/는 6 입니다.
3곱하기 3 은/는 9 입니다.
3곱하기 4 은/는 12 입니다.
3곱하기 5 은/는 15 입니다.
3곱하기 6 은/는 18 입니다.
3곱하기 7 은/는 21 입니다.
3곱하기 8 은/는 24 입니다.
3곱하기 9 은/는 27 입니다.
4곱하기 1 은/는 4 입니다.
4곱하기 2 은/는 8 입니다.
4곱하기 3 은/는 12 입니다.
4곱하기 4 은/는 16 입니다.
4곱하기 5 은/는 20 입니다.
4곱하기 6 은/는 24 입니다.
4곱하기 7 은/는 28 입니다.
4곱하기 8 은/는 32 입니다.
4곱하기 9 은/는 36 입니다.
5곱하기 1 은/는 5 입니다.
5곱하기 2 은/는 10 입니다.
5곱하기 3 은/는 15 입니다.
5곱하기 4 은/는 20 입니다.
5곱하기 5 은/는 25 입니다.
5곱하기 6 은/는 30 입니다.
5곱하기 7 은/는 35 입니다.
5곱하기 8 은/는 40 입니다.
5곱하기 9 은/는 45 입니다.
6곱하기 1 은/는 6 입니다.
6곱하기 2 은/는 12 입니다.
6곱하기 3 은/는 18 입니다.
6곱하기 4 은/는 24 입니다.
6곱하기 5 은/는 30 입니다.
6곱하기 6 은/는 36 입니다.
6곱하기 7 은/는 42 입니다.
6곱하기 8 은/는 48 입니다.
6곱하기 9 은/는 54 입니다.
7곱하기 1 은/는 7 입니다.
7곱하기 2 은/는 14 입니다.
7곱하기 3 은/는 21 입니다.
7곱하기 4 은/는 28 입니다.
7곱하기 5 은/는 35 입니다.
7곱하기 6 은/는 42 입니다.
7곱하기 7 은/는 49 입니다.
7곱하기 8 은/는 56 입니다.
7곱하기 9 은/는 63 입니다.
8곱하기 1 은/는 8 입니다.
8곱하기 2 은/는 16 입니다.
8곱하기 3 은/는 24 입니다.
8곱하기 4 은/는 32 입니다.
8곱하기 5 은/는 40 입니다.
8곱하기 6 은/는 48 입니다.
8곱하기 7 은/는 56 입니다.
8곱하기 8 은/는 64 입니다.
8곱하기 9 은/는 72 입니다.
9곱하기 1 은/는 9 입니다.
9곱하기 2 은/는 18 입니다.
9곱하기 3 은/는 27 입니다.
9곱하기 4 은/는 36 입니다.
9곱하기 5 은/는 45 입니다.
9곱하기 6 은/는 54 입니다.
9곱하기 7 은/는 63 입니다.
9곱하기 8 은/는 72 입니다.
9곱하기 9 은/는 81 입니다.

(2) while

while을 이용한 반복문은 아래와 같이 작성함

while 조건:
    반복하여 실행할 내용

- 문제: 1부터 10까지 출력하시오

In [36]:
i = 1
while i < 11:
    print(i)
    i = i + 1
## i<11 -> i가 11보다 작으면 아래의 실행문을 반복하라 라는 뜻임

1
2
3
4
5
6
7
8
9
10

- 문제: 1부터 9까지 2씩 증가하면서 출력하시오

In [38]:
i = 1
while i < 10:
    print(i)
    i += 2

1
3
5
7
9

- 문제: 9부터 1까지 2씩 감소하면서 출력하시오

In [39]:
i = 9
while i > 0:
    print(i)
    i -= 2

9
7
5
3
1

- 문제: 1부터 10까지의 자연수의 합을 구하시오

In [44]:
i = 1
result = 0
while i < 11:
    result += i
    i += 1
print(result)

55

- 문제: 구구단을 출력하시오

In [45]:
i = 2
while i < 10:
    print(i)
    i += 1

2
3
4
5
6
7
8
9

In [46]:
i = 2
while i < 10:
    i += 1
    j =1
    while j < 10:
        print(i*j)
        j+=1
## 2단부터 시작해야되는데 3단부터 시작함
## i의 2가 print(i*j)로 넘어가야하는데 i+=1로 바로 넘어갔기 때문

3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81
10
20
30
40
50
60
70
80
90

In [49]:
i = 2
while i < 10:
    j = 1
    while j < 10:
        print(i*j)
        j += 1
    i += 1

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [50]:
## format을 사용하여 구구단 만들기
i = 2
while i < 10:
    j = 1
    while j < 10:
        print('{} 곱하기 {} 은/는 {} 입니다.'.format(i, j, i*j))
        j += 1
    i += 1

2 곱하기 1 은/는 2 입니다.
2 곱하기 2 은/는 4 입니다.
2 곱하기 3 은/는 6 입니다.
2 곱하기 4 은/는 8 입니다.
2 곱하기 5 은/는 10 입니다.
2 곱하기 6 은/는 12 입니다.
2 곱하기 7 은/는 14 입니다.
2 곱하기 8 은/는 16 입니다.
2 곱하기 9 은/는 18 입니다.
3 곱하기 1 은/는 3 입니다.
3 곱하기 2 은/는 6 입니다.
3 곱하기 3 은/는 9 입니다.
3 곱하기 4 은/는 12 입니다.
3 곱하기 5 은/는 15 입니다.
3 곱하기 6 은/는 18 입니다.
3 곱하기 7 은/는 21 입니다.
3 곱하기 8 은/는 24 입니다.
3 곱하기 9 은/는 27 입니다.
4 곱하기 1 은/는 4 입니다.
4 곱하기 2 은/는 8 입니다.
4 곱하기 3 은/는 12 입니다.
4 곱하기 4 은/는 16 입니다.
4 곱하기 5 은/는 20 입니다.
4 곱하기 6 은/는 24 입니다.
4 곱하기 7 은/는 28 입니다.
4 곱하기 8 은/는 32 입니다.
4 곱하기 9 은/는 36 입니다.
5 곱하기 1 은/는 5 입니다.
5 곱하기 2 은/는 10 입니다.
5 곱하기 3 은/는 15 입니다.
5 곱하기 4 은/는 20 입니다.
5 곱하기 5 은/는 25 입니다.
5 곱하기 6 은/는 30 입니다.
5 곱하기 7 은/는 35 입니다.
5 곱하기 8 은/는 40 입니다.
5 곱하기 9 은/는 45 입니다.
6 곱하기 1 은/는 6 입니다.
6 곱하기 2 은/는 12 입니다.
6 곱하기 3 은/는 18 입니다.
6 곱하기 4 은/는 24 입니다.
6 곱하기 5 은/는 30 입니다.
6 곱하기 6 은/는 36 입니다.
6 곱하기 7 은/는 42 입니다.
6 곱하기 8 은/는 48 입니다.
6 곱하기 9 은/는 54 입니다.
7 곱하기 1 은/는 7 입니다.
7 곱하기 2 은/는 14 입니다.
7 곱하기 3 은/는 21 입니다.
7 곱하기 4 은/는 28 입니다.
7 곱하기 5 은/는 35 입니다.
7 곱하기 6 은/는 42 입니다.
7 곱하기 7 은/는 49 입니다.
7 곱하기 8 은/는 56 입니다.
7 곱하기 9 은/는 63 입니다.
8 곱하기 1 은/는 8 입니다.
8 곱하기 2 은/는 16 입니다.
8 곱하기 3 은/는 24 입니다.
8 곱하기 4 은/는 32 입니다.
8 곱하기 5 은/는 40 입니다.
8 곱하기 6 은/는 48 입니다.
8 곱하기 7 은/는 56 입니다.
8 곱하기 8 은/는 64 입니다.
8 곱하기 9 은/는 72 입니다.
9 곱하기 1 은/는 9 입니다.
9 곱하기 2 은/는 18 입니다.
9 곱하기 3 은/는 27 입니다.
9 곱하기 4 은/는 36 입니다.
9 곱하기 5 은/는 45 입니다.
9 곱하기 6 은/는 54 입니다.
9 곱하기 7 은/는 63 입니다.
9 곱하기 8 은/는 72 입니다.
9 곱하기 9 은/는 81 입니다.

### 2) 조건문

(1) if

if문 작성법

if 조건1:
    조건1이 참일 때의 실행문
elif 조건2:
    조건2가 참일 때의 실행문
else:
    실행문

- 문제: x가 5보다 크면 True를 출력하시오

In [51]:
x=6

In [52]:
if x > 5:
    print('True')

True

- 문제: x가 5보다 크면 True 아니면 False를 출력하시오

In [53]:
x = 4

In [54]:
if x > 5:
    print('True')
else:
    print('False')

False

- 문제: x가 5보다 작으면 '5 미만', 5이면 '5', 나머지는 '5 이상'이라고 출력하시오

In [55]:
x = 4

In [57]:
if x <  5:
    print('5 미만')
elif x == 5:
    print('5')
else:
    print('5 이상')

5 미만

- 문제: x가 5보다 작으면 무시하고, 5이면 '5', 나머지는 '5 이상'이라고 출력하시오

In [58]:
x = 4

In [59]:
if x < 5:
    pass
elif x == 5:
    print('5')
else:
    print('5 이상')

- 문제: 점수(x)가 90점 이상이면 'A', 80점 이상이면 'B', 70점 이상이면 'C', 60점 이상이면 'D', 나머지는 'F'로 출력하시오

In [62]:
x = 95

In [63]:
if x >= 60:
    print('D')
elif x >= 70:
    print('C')
elif x >= 80:
    print('B')
elif x >= 90:
    print('A')
else:
    print('F')
## A 값이 출력되어야하는데 D가 출력됨
## 첫번째 문장이 60이상이기때문에 95가 이를 만족해서 여기서 끝나버림

D

In [64]:
if x >= 90:
    print('A')
elif x >= 80:
    print('B')
elif x >= 70:
    print('C')
elif x >= 60:
    print('D')
else:
    print('F')

A

- 문제: A리스트에는 1반 학생들의 수학 점수가 저장되어 있다. 점수가 90점 이상이면 'A', 80점 이상이면 'B', 70점 이상이면 'C', 60점 이상이면 'D', 나머지는 'F'로 출력하시오

In [66]:
A = [80, 97, 70, 55, 63]

In [68]:
for i in A:
    print(i)

80
97
70
55
63

In [69]:
for i in A:
    if i >= 90:
        print(i, 'A')
    elif i >= 80:
        print(i, 'B')
    elif i >= 70:
        print(i, 'C')
    elif i >= 60:
        print(i, 'D')
    else:
        print(i, 'F')

80 B
97 A
70 C
55 F
63 D

# 5. List Comprehension

- 변수 a에 1부터 10까지 삽입하시오

In [71]:
a = []
for i in range(1, 11, 1):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
a = [i for i in range(1, 11, 1)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- 변수 a에 1부터 10까지의 제곱의 값을 삽입하시오

In [73]:
a= []
for i in range(1, 11, 1):
    a.append(i**2)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
a=[i**2 for i in range(1, 11, 1)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- 변수 a에는 A반의 수학점수가 저장되어있다. 이 중 80점 이상의 점수만 걸러내어라

In [78]:
a = [90, 39, 48, 70, 82, 100]

In [79]:
result = [i for i in a]
print(result)

[90, 39, 48, 70, 82, 100]

In [81]:
result=[i for i in a if i >= 80]
print(result)

[90, 82, 100]

# 6. 함수

- 함수의 예

In [82]:
print(1)

1

In [83]:
type(1)

int

- 함수를 만드는 이유

a = 1
b = a * 100
b = b ** 2
c = b * 2 +a

똑같은 작업을 여러번 반복해야 하면 비효율적이기 때문에 이를 줄이기 위해 함수를 사용함

- 생성 방법

def 함수명(인풋 값):
    실행 내용

- x를 입력값으로 넣으면 x+1을 출력하는 함수 생성

In [84]:
def function1(x):
    print(x + 1)

In [85]:
function1(1)

2

- x를 입력값으로 넣으면 x+1로 반환하는 함수 생성

In [89]:
def function2(x):
    result= x + 1
    return result

In [90]:
a= function2(1)
print(a)

2

- x를 입력값으로 넣으면 x+1, x+2로 반환하는 함수 생성

In [91]:
def function3(x):
    result1 = x + 1
    result2 = x + 2
    return result1, result2

In [92]:
a, b = function3(1)
print(a)
print(b)

2
3

- 여러개의 입력 값을 받고 싶을 때

-여러개의 입력 값을 받아 순서대로 출력

In [93]:
def function4(x):
    for i in x:
        print(i)

In [94]:
a = [1, 3, 5, 7, 4, 'd', 2, 60]
function4(a)

1
3
5
7
4
d
2
60

-args를 사용하면 list를 사용하지 않고 한 번에 할 수 있음

In [97]:
def function5(*args):
    for i in args:
        print(i)
## 꼭 args 안 쓰고 a나 b 등등 여러 문자를 써도 되지만 반드시 문자 앞에는 *를 붙여야함

In [98]:
function5(1, 3, 5, 7, 4, 'd', 2, 60)

1
3
5
7
4
d
2
60

# 7. 외부 라이브러리 사용

- 라이브러리 다운로드

In [ ]:
# !pip install pandas

- 라이브러리 불어오기

In [99]:
import pandas

In [100]:
pandas.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})

   a  b
0  1  4
1  2  5
2  3  6

- 약어를 사용하여 라이브러리 불러오기

In [101]:
import pandas as pd

In [102]:
pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})

   a  b
0  1  4
1  2  5
2  3  6

- 모듈 지우기

In [103]:
del pd

In [104]:
pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})

NameError: name 'pd' is not defined