# 1. 파이썬의 특징

#### 세미콜론(;)으로 끝을 맺지 않아도 됨

In [1]:
print('Hello World!')

Hello World!

In [3]:
print('Hello World!');

Hello World!

#### 들여쓰기에 주의가 필요함

In [4]:
1 + 1

2

In [6]:
            1 + 1

2

In [7]:
1 + 1
1 + 1

2

In [8]:
1 + 1
 1 + 1

IndentationError: unexpected indent (Temp/ipykernel_18708/4011139052.py, line 2)

#### 주석은 #(한줄), 또는 ', '''로 만들 수 있음

In [11]:
# 한줄짜리 주석

'''
여러줄
주석처리
'''

"""
쌍 따옴표로도
할 수 있음
"""

'\n쌍 따옴표로도\n할 수 있음\n'

# 2. 변수

#### 문제 1

a는 100, b는 10000 이다.

a+b를 구하시오

In [12]:
100+10000

10100

#### 문제 2

a는 100, b는 10000이다.

a* b를 구하시오

In [13]:
100*10000

1000000

#### 문제 3

a는 100, b는 10000이다.

a/b는?

In [14]:
100/10000

0.01

#### 자주 사용하는 숫자들을 변수에 저장하여 재사용한다면??

- 변수 생성하는 방법1

In [15]:
a=100
b=10000

print 함수를 사용하여 a, b의 값 확인

In [16]:
print(a)
print(b)

100
10000

- 변수 생성하는 방법2

In [17]:
a, b = 100, 10000

더블클릭 또는 Enter 키를 눌러 수정

print 함수를 사용하여 a, b의 값 확인

In [18]:
print(a)
print(b)

100
10000

#### 문제 4

a는 300, b는 400이다.

a+b, a-b, a* b, a/b를 출력하시오

In [19]:
a=300
b=400
print(a)
print(b)

300
400

In [21]:
a+b

700

In [22]:
a-b

-100

In [23]:
a*b

120000

In [24]:
a/b

0.75

In [26]:
## 정답
print(a+b)
print(a-b)
print(a+b)
print(a/b)
## print해서 값을 출력할 수 있다는 것을 까먹었음
## print 없이 입력하면 맨 마지막 값만 출력됨

700
-100
700
0.75

- 변수명 작성시 주의사항

   -영문자, 숫자, _의 조합으로 구성되어야함

In [27]:
a=1
a1=1
_=1

- 변수명의 첫 글자는 숫자로 사용할 수 없음

In [29]:
1a=1

SyntaxError: invalid syntax (Temp/ipykernel_18708/867483817.py, line 1)

- 대문자와 소문자는 구분되어 사용됨

In [30]:
a = 1
A = 10
print(a)
print(A)

1
10

- 변수 명 사이에 띄어쓰기는 불가

In [31]:
a b=1

SyntaxError: invalid syntax (Temp/ipykernel_18708/2376195748.py, line 1)

# 3. 자료형

- 자료형: 저장되는 데이터의 형태

In [32]:
a = 1
b = 0.1
c = 'hello'

In [33]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### 1) 숫자형

- int: 정수의 형태

In [35]:
a = 1
print(type(a))

<class 'int'>

In [36]:
b = 0
print(type(b))

<class 'int'>

In [37]:
c = -1
print(type(c))

<class 'int'>

- flot: 실수의 형태

In [38]:
a = 1.1
print(type(a))

<class 'float'>

In [39]:
b = 0.0
print(type(b))
## 0과 0.0의 자료형은 다름

<class 'float'>

In [40]:
c = -1.1
print(type(c))

<class 'float'>

In [41]:
d = 1.
print(type(d))

<class 'float'>

- int와 float의 연산 결과는 int일까, float일까?

In [43]:
a = 1
b = 1.0

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [44]:
print(type(a+b))

<class 'float'>

- 연산

-더하기

In [45]:
a = 10
b = 2

In [46]:
a+b

12

-빼기

In [47]:
a-b

8

-곱하기

In [48]:
a*b

20

-나누기

In [49]:
a/b

5.0

-몫

In [51]:
a = 10
b = 3

In [52]:
a//b

3

-나머지

In [53]:
a%b

1

-제곱

In [54]:
a**b

1000

- 할당연산

-변수 a는 1이다. 해당 변수 a에 1을 더하여라

In [57]:
a = 1
a = a + 1
print(a)

2

- 할당연산을 사용하는 방법

In [60]:
# 더하기
a = 1
a += 1
print(a)

2

In [62]:
# 빼기
a = 1
a -= 1
print(a)

0

In [63]:
# 곱하기
a = 2
a *= 2
print(a)

4

In [64]:
# 나누기
a = 1
a /= 2
print(a)

0.5

### 2) 문자형

- 문자형을 만들기 위해서는 문자를 따옴표('), 쌍 따옴표(")로 감싸준다.

In [65]:
a = 'hello'

In [66]:
a = "hello"

- 인덱스

-인덱스는 []를 통해 지정해 줄 수 있으며, 0부터 시작함

In [67]:
a = 'hello world'

-변수 a의 첫번째 문자를 출력하시오

In [68]:
print(a[0])

h

-변수 a의 마지막 문자를 출력하시오

In [71]:
print(a[10])
## 띄어쓰기도 인덱스에 포함됨
## print(a[-1])

d

- 슬라이스

-범위를 지정하여 원하는 부분만을 얻을 수 있음

In [76]:
a = 'hellow world'

-변수 a 전체를 출력하시오

In [77]:
print(a)

hellow world

In [78]:
print(a[:])

hellow world

-변수 a의 6~8번째 문자를 출력하시오

In [79]:
print(a[5:8])
# 8은 인덱스 8미만
# [이상:미만]

w w

-변수 a의 처음~5번째 문자를 출력하시오

In [80]:
print(a[:5])

hello

-변수 a의 뒤에서부터 5번쩨~마지막 문자를 출력하시오

In [81]:
print(a[-5:])

world

-변수 a의 처음~뒤에서부터 5번째 문자를 출력하시오

In [83]:
print(a[:-4])

hellow w

- 문자열의 합

In [85]:
a = 'hello'
b = 'world'
print(a+b)

helloworld

- 문자열의 곱

In [86]:
a = 'hello'
print( a*3)

hellohellohello

- 문자형과 숫자형의 혼용

-문제: 변수(숫자)를 넣어 'My number is(변수)'를 출력하시오

-- 방법 1

In [87]:
a = 'My number is'
b = 1
print(a, b)

My number is 1

-- 방법 2

In [88]:
a = 'My number is'
b = 1
print(a+b)

TypeError: can only concatenate str (not "int") to str

문자형과 숫자형을 더해주기 위해서는 숫자형을 문자형으로 바꿔줘야함

In [90]:
print(a+str(b))

My number is1

-- 방법 3

In [91]:
print('My number is {}'.format(b))

My number is 1

- format

-두개 이상의 값 넣기

In [92]:
print('오늘은 {}월 {}일 입니다.'.format(5, 10))

오늘은 5월 10일 입니다.

-이름을 통한 값 넣기

In [93]:
print('오늘은 {month}월 {day}일 입니다. {month}월은 가정의 달입니다.'.format(month=5, day=10))

오늘은 5월 10일 입니다. 5월은 가정의 달입니다.

In [94]:
a = '오늘은 {month}월 {day}일 입니다. {month}월은 가정의 달입니다.'.format(month=5, day=10)

In [95]:
print(a)

오늘은 5월 10일 입니다. 5월은 가정의 달입니다.

- 문자열 분해

-'hello world'를 'hell'와 'world'로 분리하시오

In [96]:
a = 'hello world'

In [97]:
a.split()

['hello', 'world']

-'I am a boy'를 각 단어를 기준으로 분리하시오

In [98]:
a = 'I am a boy'

In [99]:
a.split()

['I', 'am', 'a', 'boy']

-'I.am.a.boy'를 '.'를 기준으로 분리하시오

In [100]:
a = 'I.am.a.boy'

In [103]:
a.split()

['I.am.a.boy']

In [102]:
a.split('.')

['I', 'am', 'a', 'boy']

### 3) 리스트

- 배열의 필요성

-영희는 주사위를 여섯번 던져 1,3,5,5,2,4가 나왔다. 이 결과를 변수를 이용하여 저장하여라

In [104]:
a1 = 1
a2 = 3
a3 = 5
a4 = 5
a5 = 2
a6 = 4

-리스트를 사용하면 아래와 같이 쉽게 만들수 있음

In [105]:
a = [1, 3, 5, 5, 2, 4]

In [106]:
print(a)

[1, 3, 5, 5, 2, 4]

In [108]:
print(type(a))

<class 'list'>

- 리스트의 구조/인덱스

-리스트 내부에 리스트를 포함할 수도 있다.

In [109]:
b = [1, [1, 2], [1, [1, 2]]]

In [111]:
print(b[0])
print(b[1][1])
print(b[2][1][0])

1
2
1

- 슬라이스

In [112]:
a = [1, [2, 3], [4, [5, 6, 7]]]

In [113]:
print(a[0])

1

In [114]:
print(a[-1])

[4, [5, 6, 7]]

In [115]:
print(a[1:])

[[2, 3], [4, [5, 6, 7]]]

In [116]:
print(a[2][1][1:])

[6, 7]

- 치환

In [117]:
a = [1, [2, 3], [4, [5, 6, 7]]]

In [119]:
a[0]=10
print(a)

[10, [2, 3], [4, [5, 6, 7]]]

In [120]:
a[2][1][1:]=[60, 70]
print(a)

[10, [2, 3], [4, [5, 60, 70]]]

In [121]:
## 하나의 값으로 바꾸려고 하면 에러가 발생함
a[2][1][1:]=50
print(a)

TypeError: can only assign an iterable

In [122]:
print(a[2][1][1:])

[60, 70]

In [123]:
a[2][1][1:]=[50]
print(a)

[10, [2, 3], [4, [5, 50]]]

- 리스트 연산

In [124]:
# 리스트 더하기
a = [1, 2, 3]
b =[4, 5, 6]

In [126]:
print(a+b)

[1, 2, 3, 4, 5, 6]

In [127]:
# 리스트 곱하기
a = [1, 2, 3]

In [128]:
print(a*2)

[1, 2, 3, 1, 2, 3]

- append

In [ ]:
# append 내장함수는 해당 괄호안에 있는 숫자를 뒤에 붙여줌

In [129]:
a = [1, 2, 3]

In [130]:
a.append(4)
print(a)

[1, 2, 3, 4]

In [131]:
a = [1, 2, 3]
a.append([4, 5])
print(a)

[1, 2, 3, [4, 5]]

- pop

In [ ]:
# pop 이라는 내장함수에 숫자를 넣으면 해당 인덱스의 숫자를 없앰

In [132]:
a = [1, 2, 3]
a.pop()
print(a)

[1, 2]

In [133]:
a = [1, 2, 3]
a.pop(0)
print(a)

[2, 3]

- index

In [134]:
# 내장함수
# 리스트에 속해있는 x의 위치 값 반환

In [135]:
a = [1, 2, 3]
print(a.index(2))

1

### 4) 튜플

In [137]:
a = (1, 2, 3)
## 리스트는 대괄호, 튜플은 소괄호

In [140]:
print(type(a))

<class 'tuple'>

- 인덱스

In [141]:
print(a[1])

2

- 슬라이스

In [142]:
a = (1, 2, 3)
print(a[:2])

(1, 2)

- 치환하기

In [144]:
a = (1, 2, 3)

In [145]:
a[2] = 0
## 리스트는 치환 가능 튜플은 치환 불가능

TypeError: 'tuple' object does not support item assignment

- 튜플 연산

In [146]:
# 더하기
a = (1, 2, 3)
b = (4, 5, 6)

In [147]:
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

In [148]:
# 곱하기
a = (1, 2, 3)

In [149]:
b = a*2
print(b)

(1, 2, 3, 1, 2, 3)

### 5) 딕셔너리

- 생성방법

-딕셔너리(dict)는 Key와 Value로 구성

In [150]:
a = {'사자':'lion', '호랑이':'tiger', '용':'dragon'}
print(a)

{'사자': 'lion', '호랑이': 'tiger', '용': 'dragon'}

In [151]:
print(type(a))

<class 'dict'>

- 하나의 Key에 여러개의 Value로도 구성이 가능

In [152]:
a = {'car':['bus', 'truck', 'taxi'],
    'train':'ktx'}
print(a)

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx'}

- Key 얻기

In [153]:
a = {'car':['bus', 'truck', 'taxi'],
    'train':'ktx'}

In [154]:
key=a.keys()
print(key)

dict_keys(['car', 'train'])

In [155]:
print(type(key))

<class 'dict_keys'>

In [156]:
print(key[0])
## 인덱스해서 추출하면 에러가 발생함
## 해결법: 형변환하기

TypeError: 'dict_keys' object is not subscriptable

In [157]:
key2=list(key)
print(type(key2))

<class 'list'>

In [159]:
print(key2[0])

car

- Value 얻기

In [160]:
a = {'car':['bus', 'truck', 'taxi'],
    'train':'ktx'}

In [161]:
value = a.values()
print(value)

dict_values([['bus', 'truck', 'taxi'], 'ktx'])

In [163]:
print(type(value))

<class 'dict_values'>

In [164]:
print(value[0])
## value도 역시 에러가 발생해서 형변환해야함

TypeError: 'dict_values' object is not subscriptable

In [165]:
value2 = list(value)
print(type(value2))

<class 'list'>

In [166]:
print(value2[0])

['bus', 'truck', 'taxi']

- 요소 추가하기

In [167]:
a = {'car':['bus', 'truck', 'taxi'],
    'train':'ktx'}

In [168]:
a['plane']='jet'
print(a)

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx', 'plane': 'jet'}

- 요소 삭제하기

In [172]:
a = {'car':['bus', 'truck', 'taxi'],
    'train':'ktx'}

In [173]:
del a['car']
print(a)

{'train': 'ktx'}