## Data Type (2)

### dictionary

- 이름: 안경민, 전공: 통계학과 처럼 대응 관계를 나타낼 수 있는 자료형
- 키 (key)와 값 (value)으로 구성
- 영한 사전처럼 football을 찾으면 football:미식축구가 되는것처럼 사전과 비슷한 구조
  - 이 때 football은 key, 미식축구는 value가 된다.
- associative array, hash 와 같음

In [1]:
a = {'Korea' : 'Seoul',
    'Japan' : 'Tokyo',
    'USA' : 'Washington DC'}
print(a)
# type(a)

{'Korea': 'Seoul', 'Japan': 'Tokyo', 'USA': 'Washington DC'}

In [2]:
type(a)

dict

In [4]:
print(a['Korea'])

Seoul

In [12]:
b = {0 : 10, 1 : 20, 3 : 30, 4 : 40}
print(b)
print(b[0])

{0: 10, 1: 20, 3: 30, 4: 40}
10

- 기존 dictionary에 키가 존재하면 해당되는 새로운 값을 업데이트 하거나 존재하지 않을 경우 새로운 키와 값을 생성 가능

In [14]:
a['Japan'] = 'Osaka'
a['China'] = 'Beijing'
print(a)

{'Korea': 'Seoul', 'Japan': 'Osaka', 'USA': 'Washington DC', 'China': 'Beijing'}

- **update()**
 - 두개의 딕셔너리를 병합
 - 중복되는 키가 있다면 입력되는 키의 값으로 update 됨.

In [17]:
a = {'a' : 10, 'b' : 20, 'c' : 30}
b = {'e' : 1, 'd' : 40}

a.update(b)
print(a)

{'a': 10, 'b': 20, 'c': 30, 'e': 1, 'd': 40}

In [18]:
a = {'a' : 10, 'b' : 20, 'c' : 30}
b = {'e' : 1, 'd' : 40}

b.update(a)
print(b)

{'e': 1, 'd': 40, 'a': 10, 'b': 20, 'c': 30}

In [6]:
a = {'a' : 10, 'b' : 20}
b ={'a' : 30, 'c' : 30}

b.update(a)
print(b)

{'a': 10, 'c': 30, 'b': 20}

- **key 삭제**
 - del 키워드 사용

In [19]:
a = 10
print(a)

10

In [20]:
del a
print(a)

NameError: name 'a' is not defined

In [24]:
a = {'a' : 10, 'b' : 20, 'c' : 30}

del a['b']
print(a)

{'a': 10, 'c': 30}

- **clear()**
 - 딕셔너리의 키와 값을 *초기화*
 - del는 삭제를 하지만 clear()는 삭제가 되지는 않음

In [26]:
print(a)

a.clear()

print(a)

{'a': 10, 'c': 30}
{}

- **in**
 - dictionary 안에 key 값이 존재 확인 
 - cf. R에서는 %in%과 같은 기능

In [28]:
b = {'a' : 10, 'b' : 20, 'c' : 30}

'b' in a
## in 중요

False

In [16]:
a = {'a' : 10, 'b' : 20}

print('b' in a)

True

- ** keys() values() **
 + keys() - 키만 출력
 + values() - 값만 출력
 + items() - 키, 값을 튜플 형식으로 출력

In [36]:
a = {'a' : 10, 'b' : 20, 'c' : 30}

print(a)
print(a.keys())
print(a.values())

print(list(a.keys()))
print(list(a.values()))

print([a.items()])
print(list[a.items()])
## keys, values 합친것 -> items

{'a': 10, 'b': 20, 'c': 30}
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])
['a', 'b', 'c']
[10, 20, 30]
[dict_items([('a', 10), ('b', 20), ('c', 30)])]
list[dict_items([('a', 10), ('b', 20), ('c', 30)])]

 **set**
 - 수학에서 집합과 같은 개념
 - '{ }'를 사용

In [4]:
a = {1, 1, 2, 3, 3, 1, 4, 5}
print(a)
type(a)
## 중복된 값 중 하나만 출력됨

{1, 2, 3, 4, 5}

set

In [17]:
a = {1, 1, 2, 3, 3, 4}
print(a)
type(a)

{1, 2, 3, 4}

set

- set()으로 집합으로 변환

In [7]:
a = set()
type(a)

set

In [20]:
a = set({1, 2, 3, 3, 4})
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [21]:
a = {'a' : 10}
print(type(a))

<class 'dict'>

In [8]:
print(a[0]) ## set은 인덱싱이 안 됨

TypeError: 'set' object is not subscriptable

In [14]:
b = [1, 1, 2, 3, 3, 3, 3, 4, 5]
print(b)

c = set(b)
print(c)
type(c)

[1, 1, 2, 3, 3, 3, 3, 4, 5]
{1, 2, 3, 4, 5}

set

- set operations

 - 집합 연산과 동일
     - 교집합, 합집합, 차집합

In [17]:
a = {1, 2}
b = {2, 3}
c = {1, 2, 3}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.issubset(b)) ## 부분집합
print(a.issubset(c))

{1, 2, 3}
{2}
{1}
False
True

### **리스트 & 튜플**

- 여러개의 값을 담을 수 있는 데이터
- list vs. tuple
    - list: 생성된 후에 변경이 가능
    - tuple: 생성된 후에 변경이 불가능

#### **리스트**
 - [] 로 생성
 - list() 함수로 생성
 - str.split()함수로 생성

- [] 생성 예시

In [26]:
a = []
print(a)

[]

In [27]:
a = {}
print(type(a))

<class 'dict'>

In [27]:
a = [1, 2, 3, 4]
print(a)
type(a)

[1, 2, 3, 4]

list

In [32]:
b = ['professor', 'student',1, 2, 100, 200]
print(b)

['professor', 'student', 1, 2, 100, 200]

- list() 함수 예시
 - 다른 데이터도 이 함수를 사용해서 리스트로 변환 가능

In [28]:
a = 'Hello python'
b = list(a)
print(type(b))
print(b)

<class 'list'>
['H', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [30]:
c = (1, 2, 3)
print(c)
print(type(c))
d = list(c)
print(d)
print(type(b))
## 튜플도 리스트로 변경 가능

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>

- **string split**
 - 구분자로 구분되는 리스트를 반환

In [38]:
a = 'hello python'
a.split()

['hello', 'python']

### **List indexing**

- 문자열의 순서
- [i] 로 해당 위치의 항목을 갖고옴
- [-i]는 마지막 원소부터 시작

In [42]:
a = [1, 2, 3, 4, 5]
print(a[2])
print(a[-1])

3
5

### **리스트 접근**
 - 인덱스를 이용하여 값 수정 가능

In [32]:
a = 'i love u'
print(a[0])

b = 'u love u'
c = 'u' + a[1:]
print(b,c)

d = a.replace('i', 'u')
print(d)
print(a)

i
u love u u love u
u love u
i love u

In [48]:
a = [1, 2, 3, 4, 5]
a[0] = 10
print(a)

[10, 2, 3, 4, 5]

### **list slicing**
 - 문자열 슬라이싱
 - 결과는 list로 반환

In [49]:
a = [1, 2, 3, 4, 5]
print(a[3:4])
print(a[:5])
print(a[3:])
print(a[:])

[4]
[1, 2, 3, 4, 5]
[4, 5]
[1, 2, 3, 4, 5]

### list 멤버 함수

- **append()**: 리스트의 끝에 값 추가

In [50]:
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

- **extend()**: 리스트를 연장

In [35]:
a = [1, 2,3, 4, 5]
b = [6, 7, 8, 9, 10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
a = [1, 2, 3, 4, 5]
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **insert()**" 항목 추가

In [8]:
a = [1, 3, 4, 5]
a.insert(1, 2) #(index, object)

print(a) ## 퀴즈 (헷갈림 주의)

[1, 2, 3, 4, 5]

In [37]:
a = [1, 3, 5, 7]
a.insert(2, 4)
print(a)

[1, 3, 4, 5, 7]

- **remove()**: 항목 삭제

In [11]:
a = [1, 2, 3, 4, 5]
a.remove(3) ##괄호 안은 index가 아니라 value

print(a)

[1, 2, 4, 5]

In [12]:
a = [1, 2, 3, 3, 4, 5]
a.remove(3)  ## 중복 값이 존재하면 첫번째 값만 제거 ## Remove first occurrence of value
print(a)

[1, 2, 3, 4, 5]

- **index()**: 값의 인덱스 반환

In [13]:
a = [1, 2, 3, 4, 5, 10]
a.index(10) ## Return first index of value.

5

In [40]:
a = [1, 2, 3, 3]
a.index(3)
print(a)

2
[1, 2, 3, 3]

- **in 키워드**: 리스트 내에 해당 값이 존재하는지 확인

In [42]:
a = [1, 2, 3, 4, 5]
b = 10

c = b in a
print(c)

False

In [43]:
a = [1, 2, 3, 4, 5]
b = 2

c = b in a
print(c)

True

* **list 정렬**
 - sort() -> 리스트 자체를 내부적으로 정렬
 - sorted() -> 리스트의 정렬된 복사본을 반환

In [15]:
a = [10, 4, 5, 23, 2, 7, 13, 1]
a.sort()

print(a)

[1, 2, 4, 5, 7, 10, 13, 23]

In [17]:
a = [10, 4, 5, 23, 31, 33, 11, 23, 32]

b = sorted(a)

print(a)
print(b)

[10, 4, 5, 23, 31, 33, 11, 23, 32]
[4, 5, 10, 11, 23, 23, 31, 32, 33]

In [67]:
a = [5, 1, 20]

b = sorted(a)

print(b)

[1, 5, 20]

In [69]:
print(a)
print(b.sort())
a.sort()
print(a)
print(b)

[1, 5, 20]
None
[1, 5, 20]
[1, 5, 20]

In [66]:
a = [5, 1, 10]
a.sort()
print(a)

[1, 5, 10]

In [18]:
## sort와 sorted 번갈아 여러번 써놓고 최종으로 출력되는 값이 무엇이냐하고 퀴즈에 나올 수 있음

In [19]:
## a. tab 누르면 사용할 수 있는 function이 나옴

### **tuple**
 - 생성된 후 수정 불가능

In [44]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

a [0] = 100
print(a)

b[0] = 100
print(b)
print(b[1])

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [46]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

a [0] = 100
print(a)

print(b)
print(b[1])
print(a[0])

<class 'list'>
<class 'tuple'>
[100, 2, 3]
(1, 2, 3)
2
100

- 튜플의 값을 차례대로 변수에 대입

In [23]:
a = (100, 200)
print(type(a))

b = 100, 200
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [29]:
a, b = 100, 200
print(a)
print(b)
print(a, b)

100
200
100 200