# IF statement (condition)

```python
if (condition):
    statement
```
와 같이 condition이 TRUE일 경우 수행하는 조건문

- 조건문은 boolean 으로 표현
- 들여쓰기 된 코드를 블록 (block)이라고 표현
- 모든 블록의 시작점의 마지막에는 :을 사용

In [ ]:
## condition이 TRUE일 경우
if 2 >= 0:
    print('2 is a positive number')

In [ ]:
## condition이 FALSE일 경우
if -2 >= 0:
    print('2 is a positive number')

In [ ]:
## 들여쓰기 주의
if 3 == 10:
    print('6 is greater than 5')
print('This is not true')

### if의 조건이 bool이 아닌 경우도 있음

- 정수, 실수, 문자열 같은 기본타입도 조건에 사용 가능
- FALSE로 간주 되는 값

    - None
    - 0
    - ''
    - []
    - ()
    - {}
    - set()
- 그외에는 모두 TRUE로 간주

In [ ]:
if 5:
    print('hi')

In [ ]:
a = 0
if a:
    print('hi')

In [ ]:
a = []
if a:
    print('hi')

### else

- if 가 참이 아닐 경우 다른 statement를 실행시키고 싶다면 else를 사용
- if A else B 일경우 if 조건이 True이면 A 실행, False이면 B 실행

In [ ]:
a = 5

if a % 2 == 0:
    print('even')
else:
    print('odd')

### elif

- 조건문이 여러개일 경우 elif사용
- true일 경우 실행

In [ ]:
a = 17

if a % 5 == 0: 
    print('a is divisible by 5')
elif a % 5 == 1:
    print('a % 5 is 1')
elif a % 5 == 2:
    print('a % 5 is 2')
elif a % 5 == 3:
    print('a % 5 is 3')
else:
    print('a % 5 is 4')

In [ ]:
## a가 주어지면 a가 소수(prime number)이냐고 퀴즈 나올 수 있음 (for, if 등등 여러가지 섞어서)

# While statement (loop)

- For과 함께 대표적인 반복문
- For와 다르게 반복문을 멈추게 할 장치가 필요
- while 이 true일 경우 무한으로 수행
- 반면 False일 경우 멈춤

In [ ]:
a = [1, 3, 5, 4, 7, 8, 9, 10, 13]

i = 0
while i < len(a):
    print('value: ', a[i], ', index ', i)
    i += 1
## 0에서 부터 인덱스 시작하기 때문에 i = 0

In [ ]:
a = [1, 3, 5, 4, 7, 8, 9, 10, 13]
print(len(a))
i = 0
while i < len(a): ##len(a)=9
    print('value: ', a[i], ', index ', i)
    i += 1
## 실제 길이는 9지만 인덱스는 8
## len과 index 헷갈리지 않게 조심!!

In [ ]:
a = [1, 3, 5, 4, 7, 8, 9, 10, 13]

i = 0  # start index
while i < len(a): # len(a) = 9
    if a[i] > 10:
        print(a[i])
    i += 1
## 문제: 10보다 큰 숫자 찾기

In [ ]:
## 이거 돌리면 무한루프에 뻐짐
while True:
    print('print')

### break 
 - 루프를 중단하거나 빠져나올때 사용

In [ ]:
a = [1, 3, 10, 9, 8, 20, 22, 26, 33]

i = 0
while i < len(a):
    if a[i] > 20:
        break
    print(a[i])
    i += 1

### continue
 + break와 달리 계속 while 안의 블록 실행
 + skip으로도 사용

In [ ]:
a = 10
while a > 0:
    a -= 1
    if a == 5:
        continue ## a==5가 false면 continue 실행 안 시킴
    print(a)

# For statement (loop)

- while과 달리 리스트, 문자열 등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- i를 늘려줄 필요 없이 데이터의 length 또는 dim에 따라서 순회

In [ ]:
# list

a = [1, 2, 4, 3, 5]
for i in a:
    print(i, i*2)

In [ ]:
# string

a = 'hello python'
for char in a:
    print(char)

In [ ]:
# dictionary

a = {'Korea' : 'seoul', 'Japen' : 'tokyo', 'China' : 'beijing'}
for k in a:
    print(k, a[k])

In [ ]:
for key in a:
    print(key)

In [ ]:
for value in a.values():
    print(value)

In [ ]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 30:
        break
    print(num)

In [ ]:
## 중요 <중간고사>
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num > 60 and num <=70:
        continue
    print(num)

In [11]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print(i*j)

1
2
4
2
4
8
4
8
16

- range() 함수
    - R에서 seq과 비슷한 함수

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(1, 101, 5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [5]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j, '=', i*j)
        if (j == 9):
            print('-------------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-------------

In [7]:
## 홀수 
for i in range(2, 10):
    if i % 2 == 0:
        continue
    for j in range(1, 10):
        print(i, '*', j, '=', i*j)
        if (j == 9):
            print('-------------')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-------------

In [8]:
## 짝수 
for i in range(2, 10):
    if i % 2 == 1:
        continue
    for j in range(1, 10):
        print(i, '*', j, '=', i*j)
        if (j == 9):
            print('-------------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-------------

In [6]:
i = 1
while i < 3:
    i = i + 1
    j = 1
    while j < 10:
        print(i, 'x', j, '=', i*j)
        j = j + 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [1]:
i = 1
while i < 10:
    if i % 2 == 0:
        i = i + 1
    j = 1
    while j < 10:
        print(i, 'x', j, '=', i*j)
        j = j + 1
    i = i + 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 퀴즈

```1) 피보나치 수열 함수로 이용하여 만들어라
2) for문과 if문을 이용해서 짝수 구구단 실행(for문 안에서도 짝수가 나와야함)
3) while문과 if문을 사용해 소수 구구단 출력 (10까지)(2, 3, 5, 7)
4) 주어진 숫자 (a = list) sort와 sorted 함수를 사용하지 않고 최댓값 구하기
5) 4번의 최솟값 구하기```

In [1]:
## 1) 피보나치 수열 

def fib(n):
    if n == 0:
        return 0
    elif n ==1 or n ==2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [2]:
fib(10)

55

In [4]:
## 2) 짝수 구구단 실행 

for i in range(2, 10):
    if i % 2 == 1:
        continue
    for j in range(1, 10):
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [3]:
## 2) 짝수 구구단 실행 

for i in range(2, 10):
    for j in range(1, 10):
        if i % 2 == 0:
            print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [9]:
## 4) 최솟값 구하기

mmm=[10, 15, 100, 4, 3, 2]
mn= mmm[0]
for i in mmm:
    if i < mn:
        mn = i
print(mn)

2

In [11]:
## 5) 최댓값 구하기

xxx=[5, 10, 20, 30, 100, 3, 5, 2]
mx = xxx[0]
for i in xxx:
    if i > mx:
        mx = i
print(mx)

100